<!DOCTYPE html>
<html="en-US">
<head>

<title>This is the 'About Us' for Alpha-Blog</title>
<body>

<div id="header">
    <h1>About US</h1>
</div>



<div id="selection">
    <p>My name is Edward Rivera and I am currently writing a program to try out 
       some of the things I've learned throughout this course. Now that I realize
       I'm writing out an 'About Us' section, I don't really know what is the point
       of this blog. That's pretty Alpha. We are all pretty Alpha. 
    </p>
</div>

<div id="footer">
    Copyright © rails-section-eddieriv.c9users.io
</div>

</body>
</head>
</html>
