<!DOCTYPE html>
<html="en-US">

<head>

<title>This is the home page for Alpha-Blog</title>
<body>

<div class="center jumbotron">
  <h1>Welcome to Alpha Blog!</h1>
  <p><%= link_to "Sign up now", "#", class: "btn btn-success btn-lg btn-xlg" %></p>
</div>


</body>
</head>
</html>
