<!DOCTYPE html>
<html="en-US">
<style>
  .btn-xlarge {
    padding: 18px 28px;
    font-size: 1.7em;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    background-color: black;
}
</style>
<head>

<title>This is the home page for Alpha-Blog</title>
<body>

<div class="center jumbotron">
  <h1>Welcome to Alpha Blog!</h1>
  <p><%= link_to "Sign up now", "#", class: "btn btn-success btn-lg btn-xlarge" %></p>
</div>


</body>
</head>
</html>
