<!DOCTYPE html>
<html="en-US">
<link rel="stylesheet" type="css" href="application.css">

<head>

<title>This is a homework assignment called Alpha-Blog</title>
<body>

<div id="header">
    <h1>Welcome to Alpha-Blog!</h1>
</div>

<div id="menu">
    <%= link_to 'Home', root_path %><br>
    <%= link_to 'About', about_path %><br>
    <%= link_to 'Articles', articles_path %><br>
</div>


<div id="image">
    <img src="http://covermyfb.com/media/covers/thumb/9176-wolf-on-mountaintop.jpg" 
     alt="Picture of Wolf">
</div>

<div id="footer">
    Copyright © rails-section-eddieriv.c9users.io
</div>

</body>
</head>
</html>
