<!DOCTYPE html>
<html="en-US">
<link rel="stylesheet" type="css" href="application.css">

<head>

<title>This is the home page for Alpha-Blog</title>
<body>

<div class="center jumbotron">
  <h1>Welcome to Alpha Blog!</h1>
  <p><%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg" %></p>
</div>


</body>
</head>
</html>
