#header{
    color:black;
    font-family: courier;
    text-align: center;
    border: solid black;

}
#menu{
    line-height:30px;
    background-color:#eeeeee;
    height:315px;
    width:10%;
    float:left;
}
#footer{
     background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#image{
    width:900px;
    height:350px;
    float:left;
    
    
}

@import "bootstrap-sprockets";
@import "bootstrap";

